body {
    text-align: center;
    height: fit-content;
    width: 600px;
    border: 15px solid salmon;
    padding: 50px;
    margin: auto;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
    color: gray;
    border-bottom: gray;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    color: gray;
}
p {
    text-align: left;
    font-family: sans-serif;
    color: rgb(86, 88, 90);
}
ul {
    text-align: center;
    font-family: serif;
    color: rgb(86, 88, 90);
    list-style-type: none;
}
